name: CI - Build & Push Docker Image

on:
  push:
    branches:
      - main
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push image
        run: |
          cd be
          docker build -t ${{ secrets.DOCKER_USERNAME }}/foodapp-backend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/foodapp-backend:latest
